/papilio/practice/*
!/papilio/practice/*.v
!/papilio/practice/*.ucf
!/papilio/practice/*.bit
/atlys/practice/*
!/atlys/practice/*.v
!/atlys/practice/*.ucf
!/atlys/practice/*.bit
/atlys/led/*
!/atlys/led/*.v
!/atlys/led/*.ucf
!/atlys/led/*.bit
