//! **************************************************************************
// Written by: Map P.20131013 on Tue Oct 01 12:44:30 2019
//! **************************************************************************

SCHEMATIC START;
COMP "sw0" LOCATE = SITE "N4" LEVEL 1;
COMP "sw1" LOCATE = SITE "F5" LEVEL 1;
COMP "sw2" LOCATE = SITE "P3" LEVEL 1;
COMP "out" LOCATE = SITE "U18" LEVEL 1;
SCHEMATIC END;

