//! **************************************************************************
// Written by: Map P.20131013 on Mon Sep 30 23:21:45 2019
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "L15" LEVEL 1;
COMP "out" LOCATE = SITE "U18" LEVEL 1;
SCHEMATIC END;

