# -------C-------    -------B-------    -------A-------
# [GND] [C00] P91    [GND] [B00] P85    P86 [A15]
# [2V5] [C01] P92    [2V5] [B01] P83    P84 [A14]
# [3V3] [C02] P94    [3V3] [B02] P78    P79 [A13]
# [5V0] [C03] P95    [5V0] [B03] P71    P70 [A12]
#       [C04] P98          [B04] P68    P67 [A11] [5V0]
#       [C05] P2           [B05] P66    P65 [A10] [3V3]
#       [C06] P3           [B06] P63    P62 [A09] [2V5]
#       [C07] P4           [B07] P61    P60 [A08] [GND]
# [GND] [C08] P5     [GND] [B08] P58    P57 [A07]
# [2V5] [C09] P9     [2V5] [B09] P54    P53 [A06]
# [3V3] [C10] P10    [3V3] [B10] P41    P40 [A05]
# [5V0] [C11] P11    [5V0] [B11] P36    P35 [A04]
#       [C12] P12          [B12] P34    P33 [A03] [5V0]
#       [C13] P15          [B13] P32    P26 [A02] [3V3]
#       [C14] P16          [B14] P25    P23 [A01] [2V5]
#       [C15] P17          [B15] P22    P18 [A00] [GND]

NET "a" LOC = "P86";
NET "b" LOC = "P85";
NET "s" LOC = "P84";
NET "c" LOC = "P83";